<template>
    <section>
        <div class="title flex">
            <h1>Последние новости</h1>
            <nuxt-link to="#">Показать все
                <svg-icon name="arrow"></svg-icon>
            </nuxt-link>
        </div>
        <hr/>
        <hooper :settings="hooperSettings" ref="carousel" @slide="updateCarousel" class="slider">
            <slide v-for="article in getNews.slice(0,3)" :key="`news-${article.id}`" class="flex">
                <img :src="require(`@/assets/img/${article.imgSrc}`)" :alt="`article.header`">
                <div class="article">
                    <span>{{article.publicationDate}}</span>
                    <h2>{{article.header}}</h2>
                    <p>{{article.body}}</p>
                    <nuxt-link :to="`/news/${article.id}`">
                        Читать далее
                        <svg-icon name="arrow"></svg-icon>
                    </nuxt-link>
                </div>
            </slide>
        </hooper>
            <div class="slider-control flex">
                <template v-for="index in 3">
                    <input :id="`radio-${index}`" type="radio" name="radio" :value=index @click="slideTo(index)">
                    <label :for="`radio-${index}`"></label>
                </template>
            </div>
        <hr/>
    </section>
</template>

<script>
import { Hooper, Slide } from 'hooper';
import 'assets/styles/hooper.css';
export default {
    name: "MainLatestNews",
    components: {
        Hooper,
        Slide
    },
    data() {
        return {
            carouselData: 0,
            hooperSettings: {
                itemsToShow: 1,
                wheelControl:false,
                mouseDrag:false,
                touchDrag:false,
                autoPlay:true,
                playSpeed:3000,
                transition: 480,
                infiniteScroll:true,
                }
            }
        },
        watch: {
            carouselData () {
                this.$refs.carousel.slideTo(this.carouselData);
            }
        },
        methods: {
            slideTo(indx) {
                this.$refs.carousel.slideTo(indx);
            },
            updateCarousel(payload) {
                if(payload.currentSlide !== 0){
                    this.myCarouselData  = payload.currentSlide;
                    const rdBtn = document.querySelector(`#radio-${this.myCarouselData}`);
                    rdBtn.checked = true;
                }
            }
        },
        computed:{
            getNews(){
                return this.$store.getters.getNews;
            },
        }

}
</script>

<style lang="scss" scoped>
@import "@/assets/styles/main";

a{
    font-size: vw(16);
    line-height: 160%;

    color: #5988FF;

}
svg{
    height: vw(8);
    width: vw(13.25);
}
.title{
    justify-content: space-between;

    h1{
        font-weight: 700;
        font-size: vw(22);
        line-height: vw(27);

        color: #313139;
    }
}
hr{
    &:nth-of-type(1){
        margin: vw(8) 0 vw(24);
    }
    &:nth-of-type(2){
        margin-top:vw(33);
    }
}
img{
    height: vw(275);
    width: vw(486);
}
.hooper{
    width: vw(864) !important;
}
li{
    width: vw(866.67) !important;
    height: vw(275) !important;
}
.article{
    margin-left: vw(24);
    color: #313139;
    span{
        font-size: vw(14);
        line-height: 130%;

        color: #A9A9A9;
    }
    h2{
        margin-top: vw(8);

        font-weight: 500;
        font-size: vw(18);
        line-height: 130%;
    }
    p{
        margin-top: vw(16);
        margin-bottom: vw(32);

        font-size: vw(16);
        line-height: 160%;
    }
}
.slider-control{
    margin-top: vw(16);
    justify-content: center;
    input[type=radio]{
        display: none;
    }
    label {
        cursor: pointer;

        padding-left: vw(8);
    }
    label:before {
        content: "";
        display: inline-block;
        width: vw(7);
        height: vw(7);
        border-radius: vw(7);

        background: #C4C4C4;
    }
    input[type=radio]:checked + label:before {
        background: #5988FF;
    }
    label:hover:before {
        filter: brightness(120%);
    } 
}
</style>