<template>
    <main>
        <div class="stolbiki container flex">
            <section>
                <MainLatestNews/>
                <MainArticle v-for="(article) in getNews.slice(3,9)" :key="`news-${article.id}`" :title="article.header" :id="article.id"/>
            </section>
            <MainAside/>
        </div>
        <MainLinks/>
    </main>
</template>

<script>
import MainArticle from "./MainArticle.vue";
import MainAside from "./MainAside.vue";
import MainLinks from "./MainLinks.vue";
export default {
    name: "MainContent",
    components: { MainArticle, MainAside, MainLinks },
    computed:{
        getNews(){
            return this.$store.getters.getNews;
        },
    }
}
</script>

<style lang="scss" scoped>
@import "@/assets/styles/main";
article{
    margin-top: vw(48);
}
.stolbiki{
    margin-top: vw(75.78);
}
aside{
    margin-left:vw(48);
}
</style>