<template>
    <aside>
        <article class="activity aside-box">
            <span>Деятельность<br>управления</span>
        </article>
        <section>
            <h3>Структура управления</h3>
            <hr/>
            <nuxt-link v-for="inst in getManagementInstitutions" :key="`${inst.name}`" to="#" class="aside-box">
                <span>{{inst.name}}</span>
                <svg-icon :name="`${inst.icon}`"></svg-icon>
            </nuxt-link>
        </section>
        <section class="aside-tabs flex">
            <nuxt-link v-for="indx in 4" :key="`tab-${indx}`" to="#">
                <img :src="require(`@/assets/img/tab${indx}.png`)" alt="">
            </nuxt-link>
        </section>
    </aside>
</template>

<script>
export default {
    name: "MainAside",
    computed:{
        getManagementInstitutions(){
            return this.$store.getters.getManagementInstitutions;
        },
    }
}
</script>

<style lang="scss" scoped>
@import "@/assets/styles/main";
.aside-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:vw(16);
    width: vw(385.33);
    height: vw(124.43);
    border-radius: vw(3);
    background: #F8F8F8;
    span{
        margin-left:vw(33.38);
        font-weight: 500;
        font-size: vw(17);
        line-height: 150%;

        color: #5A6770;
    }
    svg{
        width: vw(49);
        margin-right: vw(32);
    }
}
.activity{
    background-image:url('@/assets/img/activities.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    margin:0;

    span{
        margin-left:vw(20.54);
        font-weight: 500;
        font-size: vw(20);
        line-height: 130%;

        color: #5A6770;
    }
}
h3{
    margin-top: vw(40);
}
hr{
    margin: vw(8) 0 vw(16);
}
a{
    &:hover{
        span{
            text-decoration: underline;
        }
    }
}
.aside-tabs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap:vw(15.57);
    grid-column-gap:vw(16);

    margin-top: vw(55.43);
    img{
        width:vw(184);
        height: vw(102);
    }

}
</style>