<template>
    <section class="container">
        <h3>Полезные ссылки</h3>
        <hr/>
        <button @click.prevent="slidePrev">
            <svg-icon name="arrowTOL"/>
        </button>
        <hooper :settings="hooperSettings" ref="carousel" @slide="updateCarousel">
            <slide v-for="index in 6" :key="index">
                <span>
                    Министерство просвещения РФ
                </span>
                <nuxt-link to="#">edu.gov.ru</nuxt-link>
            </slide>
        </hooper>
        <button @click.prevent="slideNext">
            <svg-icon name="arrowTOL"/>
        </button>
    </section>
</template>

<script>
import { Hooper, Slide } from 'hooper';
export default {
    name: "MainLinks",
    components: {
        Hooper,
        Slide
    },
    data() {
        return {
            carouselData: 0,
            hooperSettings: {
                itemsToShow: 4,
                trimWhiteSpace:true,
                wheelControl:false,
                mouseDrag:false,
                touchDrag:false,
                transition: 300,
                }
            }
        },
        watch: {
            carouselData () {
                this.$refs.carousel.slideTo(this.carouselData);
            }
        },
        methods: {
            slidePrev() {
                this.$refs.carousel.slidePrev();
            },
            slideNext() {
                this.$refs.carousel.slideNext();
            },
            updateCarousel(payload) {
                this.myCarouselData = payload.currentSlide;
            }
        }
    }
</script>

<style lang="scss" scoped>
@import "@/assets/styles/main";
h3{
    margin-top:vw(56);
}
hr{
    margin: vw(8) 0 vw(32);
}
button{
    border:0;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;

    &:nth-of-type(1){
        left:vw(264);
        top: vw(2314);
    }
    &:nth-of-type(2){
        left:vw(1626);
        top: vw(2314);
    }

    width: vw(22.77);
    height: vw(22.77);
    background: white;
    border: vw(1) solid #219BC3;
    border-radius: vw(25);

    svg{
        width: vw(8.72);
        height: vw(8.72);
    }
    &:nth-of-type(2){
        svg{
            transform: matrix(-1, 0, 0, 1, 0, 0);
        }
    }
}
.hooper{
    margin-bottom:vw(126.4);
}
.hooper-list{
    li{
        width: vw(296) !important;
        height: vw(138) !important;

        border: vw(1.15) solid #BEBEBE;
        border-radius: vw(5.63);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: vw(19);
        padding: vw(18) vw(56) vw(18) vw(19);
            margin-right: vw(11.57);

        span{
            font-size: vw(16);
            line-height: vw(19);

            color: #313139;
        }    
        a{
            font-size: vw(15.76);
            line-height: vw(19);

            color: #219BC3;
        }   
    }
}
</style>