<template>
    <article class="flex">
        <img :src="require(`@/assets/img/${imgSrc}`)" :alt=title>
        <div class="article">
            <span>{{pubDate}}</span>
            <h2>{{title}}</h2>
            <p></p>
            <nuxt-link :to="`/news/${id}`">
                Читать далее
               <svg-icon name="arrow"></svg-icon>
            </nuxt-link>
        </div>
        <hr/>
    </article>
</template>

<script>
export default {
    name: "MainArticle",
    props: {
        imgSrc:{
            type: String,
            default: "news_template.png",
        },
        pubDate:{
            type: String,
            default: "12 авг 2020",
        },
        title: {
            type: String,
            required: true,
        },
        description: {
            type: String,
        },
        id:{
            type:Number,
            required:true
        }
    } 
}
</script>

<style lang="scss" scoped>
@import "@/assets/styles/main";
article{
    position: relative;
}
svg{
    height: vw(8);
    width: vw(13.25);
}
hr{
    position: absolute;
    margin-bottom:vw(-16);
    bottom:0;
    width: 100%;
}
img{
    height: vw(140.63);
    width: vw(250);
}
.article{
    margin-left: vw(16);
    width: vw(601);
    span{
        font-size: vw(14);
        line-height: 130%;

        color: #A9A9A9;
    }
    h2{
        margin-top: vw(8);
        font-weight: 400;
        font-size: vw(18);
        line-height: 150%;

        color: #313139;
    }
    p{
        margin-bottom: vw(24);
    }
    a{
        font-weight: 400;
        font-size: vw(16);
        line-height: 160%;

        color: #5988FF;
    }
}
</style>