<template>
    <article>
        <div class="breadcrumb flex">
            <nuxt-link to="/">Главная</nuxt-link>
             &nbsp;/&nbsp; 
            <nuxt-link to="/">Деятельность</nuxt-link>
        </div>
        <h1>{{getArticle.header}}</h1>
        <span class="date">{{getArticle.publicationDate}}</span>
        <img :src="require(`@/assets/img/${getArticle.imgSrc}`)" :alt="`getArticle.header`">
        <p>Управление государственной службы и кадровой работы администрации Липецкой области совместно с Уполномоченным многофункциональным центром и органами местного самоуправления региона продолжают работу по приведению муниципальных услуг в соответствие с типовыми административными регламентами. Первые шаги в этом направлении были сделаны в 2018 году. За это время стало очевидно, что типизация в значительной степени упрощает процесс предоставления услуг в МФЦ, в том числе за счет экстерриториальности – заявители могут получать услуги вне зависимости от места жительства, что является одной из приоритетных задач, поставленных Министерством экономического развития РФ перед субъектами страны.</p>
        <p>Залогом успеха здесь является – выстраивание эффективных отношений с органами местного самоуправления. С этой целью региональное управление госслужбы и кадровой работы и ОБУ «УМФЦ Липецкой области» проводят рабочие встречи с представителями муниципалитетов. Накануне такие мероприятия состоялись в Лебедянском и Лев-Толстовском районах, демонстрирующих положительный опыт организации предоставления типовых услуг по принципу «одного окна». </p>
        <p>В ходе рабочих встреч обсуждались вопросы алгоритма действий заинтересованных сторон, механизмы и технические аспекты взаимодействия. В ближайшей перспективе подобные встречи пройдут во всех районах Липецкой области. </p>
    </article>
</template>

<script>
export default {
    name: "News",
    computed:{
        getArticle(){
            return this.$store.getters.getNews.find(article => {
                return article.id === parseInt(this.$route.params.id);  
            });
        },
    },
}
</script>

<style lang="scss" scoped>
@import "@/assets/styles/main";
article{
    width: vw(800);
    margin: 0 auto;
    margin-top:vw(52.78);
    margin-bottom:vw(172);
}
a{
    font-size: vw(16);
    line-height: vw(19);

    &:nth-of-type(1){
       color: #5988FF;
    }
    &:nth-of-type(2){
        color: #9F9F9F;
    }
}
h1{
    margin-top: vw(8);
    margin-bottom:vw(52.33);

    font-weight: 700;
    font-size: vw(28);
    line-height: vw(34);

    color: #313139;
}
.date{
    margin-top: vw(52.33);

    font-size: vw(16);
    line-height: vw(26);

    color: #A1A1A1;
}
img{
    width: 100%;
    margin-top: vw(16);
    margin-bottom: vw(32);
}
p{
    font-size: vw(16);
    line-height: vw(29);

    text-align: justify;

    color: #313139;

    & + &{
        margin-top: vw(16);
    }
}
</style>
