<template>
    <footer>
        <div class="container">
            <svg-icon class="bgLogo" name="MainLogo"/>
            <div class="contacts flex">
                <div class="logo flex">
                    <svg-icon name="MainLogo"/>
                    <p>Управление государственной службы<br>и кадровой работы администрации<br>Липецкой области</p>
                </div>
                <address class="flex">
                    <nuxt-link to="#" class="flex">
                        <svg-icon name="map"/>
                        <span>г. Липецк, пл. Ленина-Соборная, 1</span>
                    </nuxt-link>
                    <nuxt-link to="#">
                        <svg-icon name="phonecall"/>
                        <span>8 (4742) 22-84-45</span>
                    </nuxt-link>
                </address>      
            </div>
            <div class="copyright flex">
                <span>© 2015, Управление государственной службы и кадровой работы<br> администрации Липецкой области</span>
                <span>Разработка сайта ОБУ «ИТЦ»</span>
            </div>
        </div>
    </footer>
</template>

<script>
export default {
    name: "TheFooter"
}
</script>

<style lang="scss" scoped>
@import "@/assets/styles/main";

footer{
    background: #041369;
}
.container{
    padding: vw(30) 0 vw(27);
    position: relative;
}
.bgLogo{
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;

    width: vw(363);
    height: vw(251);
    opacity: 0.1;
}
.logo{
    align-items: center;
    svg{
        width: vw(106.66);
        height: vw(131.33);
        border: vw(1) solid #8188B4;
    }
    p{
        margin-left: vw(21.5);

        font-size: vw(15);
        line-height: 160%;

        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #FFFFFF;
    }
}
.contacts{
    align-items: center;
    justify-content: space-between;
    margin-bottom: vw(57);
    address{
        flex-direction: column;
        font-style: normal;
        a + a{
            margin-top:vw(11);
        }
        svg{
            &:nth-of-type(1){
                width: vw(14);
                height: vw(20);
            }
            &:nth-of-type(2){
                width: vw(18);
                height: vw(18);
            }

            margin-right:vw(8);
            opacity: 0.7;
        }
        span{
            font-size: vw(15);
            line-height: 160%;
            letter-spacing: 0.05em;

            color: #FFFFFF;
        }
    }
}
.copyright{
        justify-content:space-between;
    span{
        font-size: vw(14);
        line-height: 130%;

        color: #FFFFFF;
        opacity: 0.7;
    }
}
</style>