<template>
    <header>
        <div class="header-inner flex container">
            <div class="main-logo">
                <svg-icon name="MainLogoBlue"></svg-icon>
            </div>
            <nav>
                <nuxt-link v-for="(title) in links" :key="title" to="#">{{title}}</nuxt-link>
            </nav>
            <div class="search-peo flex">
                <svg-icon name="search"></svg-icon>
                <svg-icon name="peo"></svg-icon>
            </div>
        </div>
        <span class="title flex container">
            Управление государственной службы и кадровой работы<br> 
            администрации Липецкой области
        </span>
    </header>
</template>

<script>
export default {
    name: "TheHeader",
    data() {
        return {
            links: ["Законодательство", "Новости", "Деятельность", "Кадровая политика", "Государственная служба", "Контакты", "Наградная политика", "Кадровая стратегия", "Структура", "Форум «Вектор развития»", "Наставничество", "Реестр образовательных организаций"]
        };
    }
}
</script>

<style lang="scss" scoped>
@import "@/assets/styles/main";
header{
    background-image:url('@/assets/img/headerBackground.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
.main-logo {
    height: vw(111);
    width: vw(78);

    background: #FFFFFF;
    opacity: 0.35;
    border-radius: 0px 0px vw(15) 0px;

    svg{
        height: vw(74.4);
        width: vw(60.3);
        margin: vw(23.72) vw(8.85) vw(12.88) vw(8.85);
    }
}
nav{
    font-size: vw(14);
    color: #FFFFFF;

    margin: vw(34.8) 0 0 vw(32);

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    a{
        &:nth-of-type(1){
            margin-right: vw(36);
        }
        & + a{
            margin: 0 vw(36) vw(26.21) 0;
        }
        &:visited {
            color: #FFFFFF;
        }
    }
}
.search-peo{
    margin-top: vw(31.3);
    svg:first-child{
        margin-right:vw(24);
        width: vw(17.49);
        height: vw(17.49);
    }
    svg:nth-child(2){
        width: vw(24);
        height: vw(15);
    }

}
.title{
    margin-top: vw(41);
    padding-bottom: vw(264);
    font-size: vw(25);
    color: #FCFDFE;
    text-transform: uppercase;
    line-height: 160%;
    font-weight: 600;
}
</style>