<template>
    <News/>
</template>
<script>
import TheHeader from '../../components/TheHeader.vue'
import News from '../../components/News.vue'
export default {
    name: "IndexPage",
    data() {
        return {
            title: "Управление государственной службы и кадровой работы администрации Липецкой области"
        };
    },
    head() {
        return {
            title: this.title
        };
    },
    components: { TheHeader, News }
}
</script>

<style lang="scss">
@import "@/assets/styles/main";
nav{
    a{
        color: #FFFFFF;
        &:visited{
            color: #FFFFFF;
        }
    }
}
</style>
