@import "@/assets/styles/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@function vw($size){
  $result: calc($size/1920) * 100rem;
  @return $result
};
body, html {
  width: 100%;
  height: 100%;
  font-family: 'Inter';
}
html {
  font-size: 1vw;
}
.flex {
  display: flex;
}
.container {
  width: vw(1300);
  margin: 0 auto;
}
body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}
footer{
  margin-top: auto;
}
a {
  text-decoration: none;
}
hr{
  margin: 0;
  height: 0;
  border: vw(1) solid #EEEEEE;
}
h3{
  font-weight: 700;
  font-size: vw(22);
  line-height: vw(27);
  color: #313139;
}
