<template>
  <div>
    <MainContent/>
    <TheFooter/>
  </div> 
</template>

<script>
import MainContent from '../components/MainContent.vue';
import TheHeader from '../components/TheHeader.vue';
import TheFooter from '../components/TheFooter.vue';
export default {
    name: "IndexPage",
    components: { TheHeader, MainContent, TheFooter },
    data() {
      return {
        title: "Управление государственной службы и кадровой работы администрации Липецкой области"
      }
    },
    head() {
      return {
        title: this.title
      }
    },

}
</script>

<style lang="scss">
@import "@/assets/styles/main";

</style>
